{{template "layout.html" .}}

{{define "content"}}
{{ if .Contracts }}
<div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
	{{ range .Contracts }}
	<div class="col d-flex align-items-start">
		<div
			class="icon-square text-body-emphasis bg-body-secondary d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
			<i class='bi bi-file-earmark-text'></i>
		</div>
		<div>
			<h3 class="fs-2 text-body-emphasis">{{ .Id }}</h3>
			<div>
				<strong>Faction:</strong> {{ .FactionSymbol }}
			</div>
			<div>
				<strong>Type:</strong> {{ .Type }}
			</div>
			<div>
				<strong>Terms:</strong> {{ .Terms }}
			</div>
			<div>
				<strong>Accepted:</strong> {{ .Accepted }}
			</div>
			<div>
				<strong>Expiration:</strong> {{ .Expiration }}
			</div>
			<div>
				<strong>DeadlineToAccept:</strong> {{ .DeadlineToAccept }}
			</div>
		</div>
	</div>
	{{ end }}
</div>
{{ else }}
<h1>You don't have any contracts. Looser!</h1>
{{ end }}
{{end}}