{{ template "layout.html" . }}

{{ define "content" }}
{{ if .Contracts }}
<div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
	{{ range .Contracts }}
	<div class="col d-flex align-items-start">
		<div
			class="icon-square text-body-emphasis bg-body-secondary d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
			<i class='bi
				{{ if eq .Type "PROCUREMENT" }}
					bi-file-earmark-arrow-down
				{{ else }}
					bi-file-earmark-text
				{{ end }}'></i>
		</div>
		<div>
			<h3 class="fs-2 text-body-emphasis">{{ .Id }}</h3>
			<div>
				{{ if .Accepted }}
				<h3 class="text-success">Accepted</h3>
				{{ else }}
				<h3 class="text-danger">Not Accepted</h3>
				{{ end }}
			</div>
			<div>
				<strong>Faction:</strong> {{ .FactionSymbol }}
			</div>
			<div>
				<strong>Type:</strong> {{ .Type }}
			</div>
			<div>
				<strong>Terms:</strong>
				<div class="ms-4">
					{{ with .Terms }}
					<div>
						<strong>Deadline:</strong> {{ timeFmt .Deadline }} ({{ timeUntil .Deadline }})
					</div>
					<div>
						<strong>Payment:</strong>
						<div class="ms-4">
							{{ with .Payment }}
							<div>
								<strong>OnAccepted:</strong> {{ .OnAccepted }}
							</div>
							<div>
								<strong>OnFulfilled:</strong> {{ .OnFulfilled }}
							</div>
							{{ end }}
						</div>
					</div>
					<div>
						<strong>Deliveries:</strong>
						<div class="ms-4">
							{{ range .Deliver }}
							<div>
								<strong>TradeSymbol:</strong> {{ .TradeSymbol }}
							</div>
							<div>
								<strong>Destination:</strong> <a href="/systems/{{ sysFromWp .DestinationSymbol }}/waypoints/{{ .DestinationSymbol }}">{{ .DestinationSymbol }}</a>
							</div>
							<div>
								<strong>UnitsRequired:</strong> {{ .UnitsRequired }}
							</div>
							<div>
								<strong>UnitsFulfilled:</strong> {{ .UnitsFulfilled }}
							</div>
							{{ end }}
						</div>
					</div>
					{{ end }}
				</div>
			</div>
			{{ if not .Accepted }}
			<div>
				<strong>Expiration:</strong> {{ timeFmt .Expiration }} ({{ timeUntil .Expiration }})
			</div>
			
			<button class="btn btn-primary accept-contract" data-contract-id="{{ .Id }}">Accept</button>
			{{ end }}
		</div>
	</div>
	{{ end }}
</div>
{{ else }}
<h1>You don't have any contracts. Looser!</h1>
{{ end }}
{{ end }}