{{ template "layout.html" . }}

{{ define "content" }}
<div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
	{{ range .Ships }}
	<div class="col d-flex align-items-start">
		<div>
			<h3 class="fs-2 text-body-emphasis"><a href="/my/ships/{{ .Symbol }}">{{ .Symbol }}</a></h3>
			<div>
				{{ template "shipRegistration" .Registration }}
			</div>
			<div>
				{{ template "shipNav" .Nav }}
			</div>
			<div>
				{{ template "shipCrew" .Crew }}
			</div>
			<div>
				{{ template "shipFrame" .Frame }}
			</div>
			<div>
				{{ template "shipReactor" .Reactor }}
			</div>
			<div>
				{{ template "shipEngine" .Engine }}
			</div>
			<div>
				{{ template "shipModules" .Modules }}
			</div>
			<div>
				{{ template "shipMounts" .Mounts }}
			</div>
		</div>
	</div>
	{{ end }}
</div>
{{ end }}