{{ template "layout.html" . }}

{{ define "content" }}
<div class="row g-4 py-4">
	{{ with .Ship }}
	<input id="ship-symbol" type="hidden" value="{{ .Symbol }}">
	<input id="ship-status" type="hidden" value="{{ .Nav.Status }}">
	<div class="col-4">
		<div>
			<h3 class="fs-2 text-body-emphasis"><a href="/my/ships/{{ .Symbol }}">{{ .Symbol }}</a></h3>
			<div>
				{{ if eq .Nav.Status "DOCKED" }}
				<button id="orbit-ship" class="btn btn-primary" data-action="Orbiting..."><i class="bi bi-box-arrow-up"></i> Orbit</button>
				{{ else if eq .Nav.Status "IN_ORBIT" }}
				<button id="dock-ship" class="btn btn-primary" data-action="Docking..."><i class="bi bi-box-arrow-in-down"></i> Dock</button>
				{{ end }}
			</div>
			<div>
				{{ template "shipRegistration" .Registration }}
			</div>
			<div>
				{{ template "shipNav" .Nav }}
			</div>
			<div>
				{{ template "shipFuel" .Fuel }}
			</div>
			<div>
				{{ template "shipCargo" . }}
			</div>
			<div>
				{{ template "shipCrew" .Crew }}
			</div>
			<div>
				{{ template "shipFrame" .Frame }}
			</div>
			<div>
				{{ template "shipReactor" .Reactor }}
			</div>
			<div>
				{{ template "shipEngine" .Engine }}
			</div>
			<div>
				{{ template "shipModules" .Modules }}
			</div>
			<div>
				{{ template "shipMounts" .Mounts }}
			</div>
		</div>
	</div>
	{{ end }}
	<div class="col-8">
		<div class="container">
			<div class="row g-2 py-2">
				<div class="col-6">
					{{ with .CurWp }}
					<h1>Current Waypoint</h1>
					<h3 class="fs-2 text-body-emphasis">{{ .Symbol }}</h3>
					{{ if or (eq $.Ship.Nav.Status "DOCKED") (eq $.Ship.Nav.Status "IN_ORBIT") }}
					<div class="btn-group" role="group">
						{{ if and (eq $.Ship.Nav.Status "IN_ORBIT") (wpHasTrait .Traits "MINERAL_DEPOSITS") }}
						<button id="extract-minerals" class="btn btn-primary" data-action="Extracting...">
							<i class="bi bi-minecart-loaded"></i>
							Extract
						</button>
						{{ end }}
						{{ if and (eq $.Ship.Nav.Status "DOCKED") $.Context.CanRefuel }}
						<button id="refuel-ship" class="btn btn-success" data-action="Refueling..." data-fuel-units="0">
							<i class="bi bi-fuel-pump"></i>
							Refuel
						</button>
						{{ end }}
					</div>
					{{ end }}
					<div>
						<strong>Type:</strong> {{ .Type }}
					</div>
					<div>
						<strong>Orbitals:</strong>
						{{ if .Orbitals }}
						<ul>
							{{ range .Orbitals }}
							<li>
								{{ .Symbol }}
							</li>
							{{ end }}
						</ul>
						{{ else }}
						None
						{{ end }}
					</div>
					<div>
						<strong>Faction:</strong> {{ .Faction.Symbol }}
					</div>
					<div>
						<strong>Traits:</strong>
						{{ if .Traits }}
						<ul>
							{{ range .Traits }}
							<li>
								<span class="link-dark" data-toggle="tooltip" title="{{ .Description }}">{{ .Symbol }}</span>
							</li>
							{{ end }}
						</ul>
						{{ else }}
						None
						{{ end }}
					</div>
					{{ else }}
					In Transit
					{{ end }}
				</div>
				<div class="col-6">
					<h1>Info</h1>
					<div>
						<strong>AgentCredits:</strong> <i class="bi-currency-bitcoin"></i><span id="agent-credits">{{ i64Commas .Context.AgentCredits }}</span>
					</div>
				</div>
			</div>
			{{ if .SysWps }}
			<hr class="hr">
			<h1>System Waypoints</h1>
			<div class="row g-2 py-2">
				{{ range .SysWps }}
				<div class="col-6">
					<h3 class="fs-2 text-body-emphasis">{{ .Symbol }}</h3>
					{{/* if the ship isn't docked and isn't in transit show "navigate to" button */}}
					{{ if (
						not (
							or
								(eq $.Ship.Nav.Status "DOCKED")
								(eq $.Ship.Nav.Status "IN_TRANSIT")
						)
					) }}
					<div class="btn-group">
						<button class="btn btn-primary navigate-ship" data-action="Navigating..." data-waypoint-symbol="{{ .Symbol }}">
							<i class='bi
								{{ if eq .Type "MOON" }}
									bi-moon
								{{ else if eq .Type "ASTEROID_FIELD" }}
									bi-minecart-loaded
								{{ else if eq .Type "ORBITAL_STATION" }}
									bi-shop
								{{ else if eq .Type "PLANET" }}
									bi-globe
								{{ else if eq .Type "GAS_GIANT" }}
									bi-cloud-fog2
								{{ else if eq .Type "JUMP_GATE" }}
									bi-hurricane
								{{ else }}
									bi-question-circle
								{{ end }}'></i>
							Navigate ({{ ptDist $.CurWp.X $.CurWp.Y .X .Y }}u)
						</button>
					</div>
					{{ end }}
					<div>
						<strong>Type:</strong> {{ .Type }}
					</div>
					<div>
						<strong>Orbitals:</strong>
						{{ if .Orbitals }}
						<ul>
							{{ range .Orbitals }}
							<li>
								{{ .Symbol }}
							</li>
							{{ end }}
						</ul>
						{{ else }}
						None
						{{ end }}
					</div>
					<div>
						<strong>Faction:</strong> {{ .Faction.Symbol }}
					</div>
					<div>
						<strong>Traits:</strong>
						{{ if .Traits }}
						<ul>
							{{ range .Traits }}
							<li>
								<span class="link-dark" data-toggle="tooltip" title="{{ .Description }}">{{ .Symbol }}</span>
							</li>
							{{ end }}
						</ul>
						{{ else }}
						None
						{{ end }}
					</div>
				</div>
				{{ end }}
			</div>
			{{ end }}
			{{ if .MarketGoods }}
			<hr class="hr">
			<h1>Market Goods</h1>
			<div class="row g-2 py-2">
				{{ range .MarketGoods }}
				<div class="col-6">
					<div>
						<strong>Symbol:</strong> {{ .Symbol }}
					</div>
					<div>
						<strong>TradeVolume:</strong> {{ .TradeVolume }}
					</div>
					<div>
						<strong>Purchase:</strong> {{ .PurchasePrice }}
					</div>
					<div>
						<strong>Sell:</strong> {{ .SellPrice }}
					</div>
				</div>
				{{ end }}
			</div>
			{{ end }}
			{{ if .ShipyardShips }}
			<hr class="hr">
			<h1>Shipyard Ships</h1>
			<div class="row g-2 py-2">
				{{ range .ShipyardShips }}
				<div class="col-6">
					<h3 class="fs-2 text-body-emphasis">{{ .Name }}</h3>
					<div>
						<button class="btn btn-primary purchase-ship"
							disabled="{{ if lt .PurchasePrice $.Context.AgentCredits }}true{{ else }}false{{ end }}"
							data-action="Purchasing..."
							data-ship-type="{{ .Type }}"
							data-waypoint-symbol="{{ $.CurWp.Symbol }}">
							<i class="bi-currency-exchange"></i> Purchase
						</button>
					</div>
					<div>
						<strong>Type:</strong> {{ .Type }}
					</div>
					<div>
						<strong>Description:</strong> {{ .Description }}
					</div>
					<div>
						<strong>Price:</strong> <span class="{{ if gt .PurchasePrice $.Context.AgentCredits }}text-danger{{ end }}"><i class="bi-currency-bitcoin"></i>{{ i32Commas .PurchasePrice }}</span>
					</div>
					<div>
						{{ template "shipFrame" .Frame }}
					</div>
					<div>
						{{ template "shipReactor" .Reactor }}
					</div>
					<div>
						{{ template "shipEngine" .Engine }}
					</div>
					<div>
						{{ template "shipModules" .Modules }}
					</div>
					<div>
						{{ template "shipMounts" .Mounts }}
					</div>
				</div>
				{{ end }}
			</div>
			{{ end }}
		</div>
	</div>
</div>
{{ end }}