{{ define "shipRequirements" }}
<strong>Requirements:</strong>
{{ with .Requirements }}
{{ if or .Power .Crew .Slots }}
<div class="ms-4">
	{{ if .Power }}
	<div>
		<strong>Power:</strong> {{ .Power }}
	</div>
	{{ end }}
	{{ if .Crew }}
	<div>
		<strong>Crew:</strong> {{ .Crew }}
	</div>
	{{ end }}
	{{ if .Slots }}
	<div>
		<strong>Slots:</strong> {{ .Slots }}
	</div>
	{{ end }}
</div>
{{ else }}
None
{{ end }}
{{ end }}
{{ end }}

{{ define "shipRegistration" }}
<strong>Registration:</strong>
<div class="ms-4">
	<div>
		<strong>Name:</strong> {{ .Name }}
	</div>
	<div>
		<strong>Faction:</strong> {{ .FactionSymbol }}
	</div>
	<div>
		<strong>Role:</strong> {{ .Role }}
	</div>
</div>
{{ end }}

{{ define "shipFuel" }}
<strong>Fuel:</strong>
<div class="ms-4">
	<div>
		<strong>Current:</strong> {{ .Current }}
	</div>
	<div>
		<strong>Capacity:</strong> {{ .Capacity }}
	</div>
	<div>
		<strong>Consumed:</strong>
		<div class="ms-4">
			<div>
				<strong>Amount:</strong> {{ .Consumed.Amount }}
			</div>
			<div>
				<strong>Timestamp:</strong> {{ timeFmt .Consumed.Timestamp }}
			</div>
		</div>
	</div>
</div>
{{ end }}

{{ define "shipCargo" }}
<strong>Cargo:</strong>
<div class="ms-4">
	{{ with .Cargo }}
	<div>
		<strong>Capacity:</strong> {{ .Capacity }}
	</div>
	<div>
		<strong>Units:</strong> <span id="ship-cargo-units">{{ .Units }}</span>
	</div>
	<div>
		<strong>Inventory: </strong>
		{{ if .Inventory }}
		<ul>
			{{ range .Inventory }}
			<li>
				{{ if eq $.Nav.Status "DOCKED" }}
				<button class="btn btn-primary sell-cargo" data-action="Selling..." data-goods-symbol="{{ .Symbol }}" data-goods-units="{{ .Units }}">
					<i class="bi-currency-exchange"></i>
					Sell
				</button>
				{{ end }}
				<div>
					<strong>Symbol:</strong> {{ .Symbol }}
				</div>
				<div>
					<strong>Units:</strong> {{ .Units }}
				</div>
			</li>
			{{ end }}
		</ul>
		{{ else }}
		None
		{{ end }}
	</div>
	{{ end }}
</div>
{{ end }}

{{ define "shipCrew" }}
<strong>Crew:</strong>
<div class="ms-4">
	<div>
		<strong>Current:</strong> {{ .Current }}
	</div>
	<div>
		<strong>Required:</strong> {{ .Required }}
	</div>
	<div>
		<strong>Capacity:</strong> {{ .Capacity }}
	</div>
	<div>
		<strong>Rotation:</strong> {{ .Rotation }}
	</div>
	<div>
		<strong>Morale:</strong> {{ .Morale }}
	</div>
	<div>
		<strong>Wages:</strong> {{ .Wages }}
	</div>
</div>
{{ end }}

{{ define "shipNav" }}
<strong>Nav:</strong>
<div class="ms-4">
	<div>
		<strong>CurrentLocation:</strong> {{ .WaypointSymbol }}
	</div>
	<strong>Route:</strong>
	<div class="ms-4">
		{{ with .Route }}
		<strong>Destination:</strong>
		<div class="ms-4">
			{{ with .Destination }}
			<div>
				<strong>Location:</strong> {{ .Symbol }}
			</div>
			<div>
				<strong>Type:</strong> {{ .Type }}
			</div>
			<div>
				<strong>X:</strong> {{ .X }}
			</div>
			<div>
				<strong>Y:</strong> {{ .Y }}
			</div>
			{{ end }}
		</div>
		<strong>Departure:</strong>
		<div class="ms-4">
			{{ with .Departure }}
			<div>
				<strong>Location:</strong> {{ .Symbol }}
			</div>
			<div>
				<strong>Type:</strong> {{ .Type }}
			</div>
			<div>
				<strong>X:</strong> {{ .X }}
			</div>
			<div>
				<strong>Y:</strong> {{ .Y }}
			</div>
			{{ end }}
		</div>
		<div>
			<strong>DepartureTime:</strong> {{ timeFmt .DepartureTime }}
		</div>
		<div>
			<strong>Arrival:</strong> {{ timeFmt .Arrival }} ({{ timeUntil .Arrival }})
		</div>
		{{ end }}
	</div>
	<div>
		<strong>Status:</strong> {{ .Status }}
	</div>
	<div>
		<strong>FlightMode:</strong> {{ .FlightMode }}
	</div>
</div>
{{ end }}

{{ define "shipFrame" }}
<strong>Frame:</strong>
<div class="ms-4">
	<div>
		<strong>Symbol:</strong> {{ .Symbol }}
	</div>
	<div>
		<strong>Name:</strong> {{ .Name }}
	</div>
	<div>
		<strong>Description:</strong> {{ .Description }}
	</div>
	{{ if .Condition }}
	<div>
		<strong>Condition:</strong> {{ .Condition }}
	</div>
	{{ end }}
	<div>
		<strong>ModuleSlots:</strong> {{ .ModuleSlots }}
	</div>
	<div>
		<strong>MountingPoints:</strong> {{ .MountingPoints }}
	</div>
	<div>
		<strong>FuelCapacity:</strong> {{ .FuelCapacity }}
	</div>
	<div>
		{{ template "shipRequirements" . }}
	</div>
</div>
{{ end }}

{{ define "shipReactor" }}
<strong>Reactor:</strong>
<div class="ms-4">
	<div>
		<strong>Symbol:</strong> {{ .Symbol }}
	</div>
	<div>
		<strong>Name:</strong> {{ .Name }}
	</div>
	<div>
		<strong>Description:</strong> {{ .Description }}
	</div>
	{{ if .Condition }}
	<div>
		<strong>Condition:</strong> {{ .Condition }}
	</div>
	{{ end }}
	<div>
		<strong>PowerOutput:</strong> {{ .PowerOutput }}
	</div>
	<div>
		{{ template "shipRequirements" . }}
	</div>
</div>
{{ end }}

{{ define "shipEngine" }}
<strong>Engine:</strong>
<div class="ms-4">
	<div>
		<strong>Symbol:</strong> {{ .Symbol }}
	</div>
	<div>
		<strong>Name:</strong> {{ .Name }}
	</div>
	<div>
		<strong>Description:</strong> {{ .Description }}
	</div>
	<div>
		<strong>Condition:</strong> {{ .Condition }}
	</div>
	<div>
		<strong>Speed:</strong> {{ .Speed }}
	</div>
	<div>
		{{ template "shipRequirements" . }}
	</div>
</div>
{{ end }}

{{ define "shipModules" }}
<strong>Modules:</strong>
{{ if not . }}
None
{{ else }}
<div class="ms-4">
	{{ range . }}
	<div>
		<strong>Symbol:</strong> {{ .Symbol }}
	</div>
	<div>
		<strong>Name:</strong> {{ .Name }}
	</div>
	<div>
		<strong>Description:</strong> {{ .Description }}
	</div>
	{{ if .Capacity }}
	<div>
		<strong>Capacity:</strong> {{ .Capacity }}
	</div>
	{{ end }}
	{{ if .Range }}
	<div>
		<strong>Range:</strong> {{ .Range }}
	</div>
	{{ end }}
	<div>
		{{ template "shipRequirements" . }}
	</div>
	{{ end }}
</div>
{{ end }}
{{ end }}

{{ define "shipMounts" }}
<strong>Mounts:</strong>
{{ if not . }}
None
{{ else }}
<div class="ms-4">
	{{ range . }}
	<div>
		<strong>Symbol:</strong> {{ .Symbol }}
	</div>
	<div>
		<strong>Name:</strong> {{ .Name }}
	</div>
	<div>
		<strong>Description:</strong> {{ .Description }}
	</div>
	<div>
		<strong>Strength:</strong> {{ .Strength }}
	</div>
	{{ if .Deposits }}
	<div>
		<strong>Deposits:</strong>
		<ul>
			{{ range .Deposits }}
			<li>{{ . }}</li>
			{{ end }}
		</ul>
	</div>
	{{ end }}
	<div>
		{{ template "shipRequirements" . }}
	</div>
	{{ end }}
</div>
{{ end }}
{{ end }}
