{{ template "layout.html" . }}


{{ define "content" }}

{{ $shipyardWp := .Params.Waypoint }}
{{ with .Shipyard }}
<div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
	{{ range .Ships }}
	<div class="col d-flex align-items-start">
		<div>
			<h3 class="fs-2 text-body-emphasis">{{ .Name }}</h3>
			<div>
				<button class="btn btn-primary purchase-ship" data-ship-type="{{ .Type }}" data-waypoint-symbol="{{ $shipyardWp }}">Purchase</button>
			</div>
			<div>
				<strong>Type:</strong> {{ .Type }}
			</div>
			<div>
				<strong>Description:</strong> {{ .Description }}
			</div>
			<div>
				<strong>Price:</strong> {{ i32Commas .PurchasePrice }}
			</div>
			<div>
				{{ template "shipFrame" .Frame }}
			</div>
			<div>
				{{ template "shipReactor" .Reactor }}
			</div>
			<div>
				{{ template "shipEngine" .Engine }}
			</div>
			<div>
				{{ template "shipModules" .Modules }}
			</div>
			<div>
				{{ template "shipMounts" .Mounts }}
			</div>
		</div>
	</div>
	{{ end }}
</div>
{{ end }}

{{ end }}
