{{template "layout.html" .}}

{{define "content"}}
<div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
	{{ range .Waypoints }}
	<div class="col d-flex align-items-start">
		<div
			class="icon-square text-body-emphasis bg-body-secondary d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
			<i class='bi
				{{ if eq .Type "MOON" }}
					bi-moon
				{{ else if eq .Type "ASTEROID_FIELD" }}
					bi-minecart-loaded
				{{ else if eq .Type "ORBITAL_STATION" }}
					bi-shop
				{{ else if eq .Type "PLANET" }}
					bi-globe
				{{ else if eq .Type "GAS_GIANT" }}
					bi-cloud-fog2
				{{ else if eq .Type "JUMP_GATE" }}
					bi-hurricane
				{{ else }}
					bi-question-circle
				{{ end }}'></i>
		</div>
		<div>
			<h3 class="fs-2 text-body-emphasis">{{ .Symbol.Waypoint }}</h3>
			<div>
				<strong>Type:</strong> {{ .Type }}
			</div>
			<div>
				<strong>System:</strong> <a href="/systems/{{ .Symbol.System }}/waypoints">{{ .Symbol.System }}</a>
			</div>
			<div>
				<strong>X:</strong> {{ .X }}
			</div>
			<div>
				<strong>Y:</strong> {{ .Y }}
			</div>
			<div>
				<strong>Orbitals:</strong>
				{{ if .Orbitals }}
					<ul>
						{{ range .Orbitals }}
						<li>
							{{ .Symbol.Waypoint }}
						</li>
						{{ end }}
					</ul>
				{{ else }}
					None
				{{ end }}
			</div>
			<div>
				<strong>Faction:</strong> {{ .Faction.Symbol }}
			</div>
			<div>
				<strong>Chart:</strong>
				<div class="ms-4">
					<div>
						<strong>SubmittedBy:</strong> {{ .Chart.SubmittedBy }}
					</div>
					<div>
						<strong>SubmittedOn:</strong> {{ .Chart.SubmittedOn }}
					</div>
				</div>
			</div>
			<div>
				<strong>Traits:</strong> 
				{{ if .Traits }}
				<ul>
					{{ range .Traits }}
					<li>
						<span class="link-dark" data-toggle="tooltip" title="{{ .Description }}">{{ .Symbol }}</span>
					</li>
					{{ end }}
				</ul>
				{{ else }}
				None
				{{ end }}
			</div>
		</div>
	</div>
	{{ end }}
</div>
{{end}}